.wrapper {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    &.active {
        background-color: #ddd;
    }
    &:after {
        content: "\02795";
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    &.active:after {
        content: "\2796";
    }
}

.content {
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 1s linear;
    &.active {
        height: fit-content;
        padding: 18px;
    }
}
