@import '../../variables';

.main {
    height: 100vh;
    background-color: $bg-lighter;

    & > div {
        position: relative;
        padding: 10vh 0 10vh 20px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            border-bottom: solid 20px $blue;
            border-image: linear-gradient(to right, $blue 40%, transparent 70%)
                100% 1;
            animation: border_anim 1s linear forwards;
        }
        &::before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        @media (max-width: 992px) {
            &:before,
            &:after {
                border-image: linear-gradient(
                        to right,
                        $blue 60%,
                        transparent 95%
                    )
                    100% 1;
            }
        }
    }
    h1 {
        margin-bottom: 2vh;
    }

    strong {
        font-size: calc(1.3rem + 1.2vw);
        font-weight: 500;
    }
}

@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
