@import '../../variables';

.resume {
    padding: 9vh 0;
    min-height: 100vh;

    .externalUl {
        padding-left: 1.8rem;
        ul {
            font-size: 1.2rem;
        }
        li {
            padding-top: 0.5rem;
            &::marker {
                color: #aaa;
                transition: all 0.5s;
            }
            &:hover::marker {
                color: #444;
            }
        }
        & > li::marker {
            content: '—  ';
        }
    }

    h3 {
        border-bottom: 1px solid $pink;
        font-size: 1.5rem;
        margin: 0 0 0.5rem;
        padding: 1rem 2rem 1rem 0.5rem;
    }
}
