@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: large;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}

h2 {
  font-size: 9vh;
}

h3 {
  font-size: 2rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}
