@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-size: large;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
}

h1 {
    font-size: calc(1.9rem + 4.5vw);
}

h2 {
    font-size: calc(1.9rem + 4vw);
}

h2,
h3 {
    box-shadow: inset 0 0 0 0 #ccc;
    margin: 0 -0.25rem;
    padding: 1rem 2rem;
    transition: all 1s ease-in-out;

    &:hover {
        box-shadow: inset 100vw 0 0 0 #ccc;
    }
}

h3 {
    font-size: 1.5rem;
}

img {
    max-height: 100%;
    max-width: 100%;
}
